<form action="/orders" accept-charset="UTF-8" method="PUT">
  <div>
    <label for="customer_id">Customer</label><br>
    <input type="text" name="customer_id" id="customer_id" value="<%=@orders.customer_id%>"/>
  </div>

  <div>
    <label for="car_id">Car</label><br>
    <input type="text" name="car_id" id="car_id" value="<%= @orders.car_id %>"/>
  </div>

  <div>
    <label for="started_at">Started at</label><br>
    <input type="datetime-local" name="started_at" id="started_at" value="<%= @orders.started_at %>"/>
  </div>

  <div>
    <label for="finished_at">Finished at</label><br>
    <input type="datetime-local" name="finished_at" id="finished_at" value="<%= @orders.finished_at %>"/>
  </div>

  <div>
    <input type="submit" name="commit" value="Save " data-disable-with="Save " />
  </div>
</form>